passlib[bcrypt]
pydantic
pydantic-settings
pyotp
tortoise-orm[asyncpg]
fastapi
uvicorn[standard]
cloud-sql-python-connector[asyncpg]
loguru
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
python-jose
python-multipart
aiosmtplib
aerich
base58
gunicorn